extends layout

block content 
  script(src="/react-scripts/characterForm.bundle.js" type="module" defer) 
  .flex.justify-center.p-6(class="sm:p-16")
    div.relative.w-full(class="sm:max-w-xl")
      h1.text-4xl.font-bold.font-fjalla Stage data by character
      form
        div#nameInputArea

        +smashbuttononclick("Go")