extends layout 

block content 
  .flex.justify-center.p-6(class="sm:p-16")
    div.relative.w-full(class="sm:max-w-xl")
      h1.text-4xl.font-bold.font-fjalla Error #{error.status}: 
      h2 #{error.message}
      pre.text-xs #{error.stack}