extends layout 

block content
  div.flex.flex-col.items-center
    h1.text-4xl= "Welcome to Ultimate Stage Data!"
    h2.text-lg Number of games in data set: #{numGames}
    h3.text-base Number of tournaments inspected: #{numTournaments}
    div.flex.gap-4
      +smashbuttonhref("Stage Data by Character", "/character")
      +smashbuttonhref("Stage Data by Matchup", "/matchup")